mat-card{
    max-width: 400px;
    position: absolute;
    left: 35%;
    margin-top: 15%;
}
mat-card-content{
    text-align: center;
    
}
body{
    background-color:rgb(232, 227, 227);
}
button{
    width: 100px;
    box-shadow: 30px;
}