.extra{
    flex: 1 1 auto;
}
   .logo{
    margin-left:20px ;
   }
   .sidenav-wrapper{
    position: absolute;
    top:60px;
    bottom: 0;
    left:0;
    right:0;
    background-color:azure;
    
   }
   mat-sidenav{
    width: 200px;
    height: 100%;
    display: flex;
    padding: 20px;
    background-color: rgb(178, 219, 234);
   }
   
   mat-sidenav-content{
   height: auot;
   overflow: scroll;
    font-size: 24px;
background:#0c192c;

   }
   button span{
    margin: 10px;
   }
   .t{
       background-color: rgb(203, 145, 167);
/* background:#0c192c; */
       
   }
   .b{
       color:white;
   }
   .l{
       color:white;
   }
   .room{
       color:black;
   }
   .book{
       color:black;
   }
   .home{
       color:black;
   }