<table class="table">
    <tr>
        <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img [src]="google" alt="Avatar" style="width:300px;height:200px;">
                    </div>
                    <div class="flip-card-back">
                        <h1> Mail Support</h1>
                        <a [href]="mail"
                            target="_blank">
                            <p class="mail">help@startapps.com</p>
                        </a>
                        <p>Response may take some time</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img [src]="phone" style="height: 200px;width: 300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Interactive Support</h1>
                            <p class="mail">Help line Number:- 1234567890</p>
                        <p>Now get Solutions instantly</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img [src]="hangout" alt="Avatar" style="width:300px;height:200px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Hangouts Support</h1>
                    <p class="hang">Hangouts@stratApps.com</p>
                    <p>Response may take some time</p>
                  </div>
                </div>
              </div>
        </td>
    </tr>
</table>