<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>StratApps</mat-card-title>
          <mat-card-subtitle>Solutions Pvt.Ltd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://assets.centralindex.com/W/48/371fe089071bb4d95d65f5b8b081b576.png" alt="Photo of StratApps">
        <mat-card-content>
          <p>
            StratApps, headquartered in Silicon Valley, is a Global Solutions and Products company
            focused on enabling organizations to use data as a growth lever. With more than 6 years of 
            experience in helping organizations realize value of analytics, whether startups or 
            Fortune 500, our customers have the solutions to make informed decisions to increase profits,
            optimize utilization of resources, reduce waste, and focus on areas of growth.
          </p>
        </mat-card-content>
        <mat-card-actions>
         <a href='http://www.stratapps.net/' target="_blank"><button mat-button >Google</button></a>
         <a href='https://in.linkedin.com/company/stratapps' target="_blank"><button mat-button>LinkedIn</button></a>
         <a href='http://www.stratapps.net/contact.php' target="_blank"><button mat-button >Contact</button></a>
        </mat-card-actions>
      </mat-card>
      
</div>