<div class="content">
    <h1>Reserve Your booking</h1>
    <p>Room Id: {{roomId}}</p>
    <hr>
    <div class="input">

        <input class="ip" type="text" [(ngModel)]="title" name="title" placeholder=" enter title" />
        <br>
        <input class="ip" type="datetime-local" [(ngModel)]="start" name="start time" />
        <br>
        <input class="ip" type="datetime-local" [(ngModel)]="end" name="end time" /><br>

    </div>
    <!-- <form [formGroup]="reactform" (ngSubmit)="ProceedSave()">
        <div class="tbody" formArrayName="deladdress">
            <div class="tr" *ngFor="let item of deladdress.controls;let i=index" [formGroupName]="i">
                <input class="id" placeholder="Id" formControlName="deladdress"><br>
                <button mat-button color="accent" (click)="Removeitem(i)">(-)</button>
            </div>
        </div>
        <div class="add1">
            <button class="add" (click)="Addnewrow()">Add new(+)</button>
        </div>

    </form> -->
        <form>
            <input type="number" required class="id" [(ngModel)]="eids" name="eids" />
            <button type="submit" class="add" (click)="addnum()">add</button>
            <div class="tbody">
            <div class="tr" *ngFor="let a of eidsa;let i=index">
               <p> {{a}}</p><button  class="rem"  (click)="remove(a)">-</button>
            </div></div>

        </form>

    <div class="sub">
        <button type="submit" class="button" (click)="onclick()"> Submit</button><br>
        <button type="button" class="btn1" [routerLink]="['/admin/roomview']"> Cancel</button>
    </div>
</div>
