
.box{
    width: 99%;
    height: 100vh;
    margin: 1%;
    margin-left: 3%;
   overflow: scroll;
   overflow-y: scroll;
}
.cont{
    width: 45%;
    height: 80vh;
    border-radius: 18%;
    display: flex;
    position: relative;
    float: left;
}
.card{
    border-radius: 8%;
    width: 60%;
    border: 3px solid palevioletred;
    margin-left: 16%;
    height: 80%;
    margin-bottom: 4%;
    font-weight: 700;
    box-shadow: 10;
    background: transparent;
}

.hd{
    color: rgb(243, 236, 236); 
    font-size: larger;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    line-height: 2;
}

.h{
    text-align: left;
    padding-right: 3%;
    width: 48%;
}
.d{
    text-align: left;
} 

.bt{
    background-color: lightcoral;
    border-radius: 10px 10px;
    padding: 0.75%;
    width:20%;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

