input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
    border: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    width: 35%;
    left: 25%;
    margin-top: 4%;
}
.div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: italic;
    line-height: 1.6;
}
span{
    align-content: flex-start;
    display: flex;
    position: relative;
    font-weight: 600;
}
input{
border: 1px solid  goldenrod;
border-radius: 30px;
padding-left: 25%;
height: 40px;
margin-bottom: 20px;
}
