input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.one{
  width: 100%;
  display: flex;
  position: relative;
}
.container{
  border: 1px solid goldenrod;
  padding: 30px;
  margin-top: 1.5%;
  display: flex;
  position: relative;
  left: 25%;
  line-height: 3;
  /* background:linear-gradient( rgb(238, 69, 162),rgb(243, 243, 101),rgb(245, 127, 245)); */
   background:linear-gradient(45deg, rgb(226, 114, 176),rgb(238, 238, 119),rgb(231, 137, 231));
}
span{
  width:140px;
  display: inline-block;
  margin: 0.2cm;
  font-size: 16px;
  font-weight: bold;
}
input{
  padding: 4px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  /* width: 7cm; */
}
buton{
  margin-top: 7px;
  color: white;
  font-weight: bold;
  padding: 4px;
  background-color: dodgerblue;
}