<div class="sidebar">
    <div class="user">
        <img src="" alt="Loading Failed" />
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>DashBoard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/admin/main']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/admin/view']">
                <mat-icon>account_box</mat-icon>
                <span>Employee</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/admin/view']">
                <mat-icon>event_seat</mat-icon>
                <span>Rooms</span>
            </button>
        </div>
    </div>
</div>