<mat-sidenav-container class="container">
    <mat-sidenav-content>
        <div class="content">
            <div class="toolar">
                <mat-toolbar>
                    <p></p>
                    <div class="box">
                        <button mat-button class="menu-button" (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Logut</span>
                        </button>
                    </div>
                </mat-toolbar>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>